In [2]:
import pandas as pd

s = pd.Series(['a','b'])

print(s)

0    a
1    b
dtype: object

In [ ]:
d = pd.Series (['I','AM'], [2,3])
print (d)

In [ ]:
data = [['disney land','united states','5 lakhs'],['northern lights','norway','3 lakhs']]

x = pd.DataFrame(data,columns = ['fav place','country','cost'])

print x,'\n',x.dtypes

In [ ]:
dic = {'a' : [1,2], 'b': [3,4]}
print pd.DataFrame(dic)

In [3]:
df = pd.read_csv('C:\\Users\\home\\Downloads\\titanic.csv')
print (df.head())
#else u can change the PWD and read the file
#import OS
#os.chdir('C:\\Users\\home\\Downloads)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
pwd

In [ ]:
print df.tail(),"\n",df.shape,"\n",df.columns

In [4]:
df.describe(include= 'all')
#unique is described for categorical variables
#mean and std is for numerical
#75-25 gives inter quartile and compare with ma value for ouliers .u can analyse thois for any particular column

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Collyer, Miss. Marjorie ""Lottie""",male,NaN,NaN,NaN,CA. 2343,NaN,C23 C25 C27,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [ ]:
x = norm.cdf(0.95)
print (x)

In [16]:
import numpy as np 
import pandas as pd

In [17]:
mylist = list('abcedf')
myarr = np.arange(26)
mydict = dict(zip(myarr,mylist))
print(mydict)

{0: 'a', 1: 'b', 2: 'c', 3: 'e', 4: 'd', 5: 'f'}

In [ ]:
print(pd.Series(mylist),pd.Series(myarr),pd.Series(mydict))

In [ ]:
ser = pd.Series(mydict)
pd.Series.to_frame(ser)

In [ ]:
ser1 = pd.Series(list('dfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(22))
ser1.append(ser2,ignore_index = True)

In [14]:
ser1 = pd.Series([2, 3, 4, 5])
ser2 = pd.Series([5, 6, 7, 8])
ser1[~ser1.isin(ser2)]

0    2
1    3
2    4
dtype: int64

In [ ]:
ser = pd.Series(np.random.normal(15, 5, 35))
print(ser.describe())

In [ ]:
ser = pd.Series(np.take(list('machine'), np.random.randint(5, size=10)))
ser.value_counts()

In [53]:
np.random.seed(4)
ser = pd.Series(np.random.randint(2, 5, [14]))
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0         4
1         4
2         3
3         3
4     Other
5     Other
6         4
7         3
8         4
9     Other
10        3
11        4
12        3
13    Other
dtype: object

In [54]:
ser = pd.Series(np.random.random(12))
pd.cut(ser,10,labels =np.arange(1,11,1))

0      8
1      1
2      8
3      5
4      8
5      5
6     10
7      8
8      4
9      8
10    10
11     1
dtype: category
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 10]

In [ ]:
ser = pd.Series(np.random.randint(1, 5, 35))
pd.DataFrame(np.reshape(ser.to_numpy(),(7,5)))

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser.iloc[lambda x: x.index%3 == 0]

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.iloc[pos]

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('de'))
pd.DataFrame([ser1,ser2])

In [ ]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
ser1.loc[ser1.isin(ser2)]

In [ ]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
pd.Series.pow(pd.Series.sub(truth,pred),2).mean()

In [ ]:
ser = pd.Series(['how', 'to', 'find'])
ser.str.title()

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.str.len()

In [ ]:
ser = pd.Series([1, 3, 6, 10, 15, 27, 35])
ser1 = ser.diff(periods = 1)
print(ser1)
ser1.diff()

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04',
'2014-05-05', '2015-06-06T12:20'])
x= pd.to_datetime(ser)
x

In [18]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04',
'2014-05-05', '2015-06-06T12:20'])
ser1 = pd.to_datetime(ser)
print(ser1.dt.week,ser1.dt.day,ser1.dt.dayofyear,ser1.dt.day_name())

0    53
1     5
2     9
3    14
4    19
5    23
dtype: int64 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64 0      1
1     33
2     63
3     94
4    125
5    157
dtype: int64 0       Friday
1    Wednesday
2     Saturday
3     Thursday
4       Monday
5     Saturday
dtype: object

In [ ]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
pd.to_datetime(ser,unit = 'M',origin=pd.Timestamp(4,day=1))

In [ ]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
ser[ser.str.count(r'([aeiouAEIOU])') >= 2]

In [ ]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}]'
emails[emails.str.match(r'[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+')]

In [ ]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']
#pd.Series(fruit,weights).groupby(fruit).mean()
weights.groupby(fruit).mean()

In [ ]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
np.sqrt((p.sub(q)).pow(2).sum())

In [ ]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
ser[(ser.shift(-1) < ser) &  (ser.shift(1) < ser)]

In [ ]:
my_str = 'dbc deb abed gade'
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
least_freq = freq.index[-1]
pd.Series(my_str).str.replace(' ', 'c')

In [21]:
pd.Series(np.random.random(10),index=pd.date_range(start = '2000-01-01',periods = 10,freq = '7D') )

2000-01-01    0.126182
2000-01-08    0.075706
2000-01-15    0.685588
2000-01-22    0.947074
2000-01-29    0.315673
2000-02-05    0.876272
2000-02-12    0.698166
2000-02-19    0.356373
2000-02-26    0.904576
2000-03-04    0.376419
Freq: 7D, dtype: float64

In [ ]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
ser.resample('D').pad()[0:10]

In [ ]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
lag.append([ser.autocorr(lag = x) for x in range(1,11)])
lag

In [22]:
ser1 = pd.Series(np.arange(0,500))
ser2 = pd.Series(np.arange(0,500,50))
pd.read_csv('C:\\Users\\home\\Downloads\\bank-additional.csv',delimiter=';',skiprows = ser1[~ser1.isin(ser2)][0:50]).head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,32,services,married,high.school,no,no,yes,cellular,jul,fri,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
1,33,blue-collar,married,basic.9y,no,yes,no,cellular,may,thu,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,no
2,39,management,married,high.school,no,no,no,cellular,aug,fri,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
3,24,technician,married,university.degree,no,yes,yes,cellular,sep,tue,...,2,3,1,success,-3.4,92.379,-29.8,0.770,5017.5,yes
4,33,admin.,single,university.degree,no,yes,no,cellular,may,thu,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,no

In [ ]:
pd.read_csv('C:\\Users\\home\\Downloads\\bank-additional.csv',delimiter=';',converters = {'default': lambda x:0 if x =='no' else 1})

In [49]:
#35
L = pd.Series(range(15))
def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

In [ ]:
x=pd.read_csv('C:\\Users\\home\\Downloads\\bank-additional.csv',delimiter=';',usecols = ['age','job'])

In [ ]:
print(x.shape)
print (x.dtypes)
print (x.describe())
x.values.tolist()
x.values

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()[0:3]
df.loc[df['Price'] == max(df['Price']),['Manufacturer','Model','Type','Price']]

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)
df.rename(columns = {'Type': 'Cartype'})
df.rename(columns = (lambda x :x.replace('.','_')))

In [55]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.isnull().values.any()

True

In [56]:
df.isnull().sum()
np.argmax(df.isnull().sum())

C:\Anaconda\lib\site-packages\numpy\core\fromnumeric.py:61: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  return bound(*args, **kwds)

'Luggage.room'

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df[['Min.Price','Max.Price']].fillna(df[['Min.Price','Max.Price']].mean())

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
type(df[['a','b']])

In [ ]:
print (df)
df[['c','b','a','d','e']]

#function
def swap(data,c1,c2):
    x = pd.Series(data.columns)
    ind1,ind2 = x.loc[x==c1].index,x.loc[x==c2].index
    x[ind1] ,x[ind2]= c2,c1
    return x
swap(df,'a','c')

pd.Series(df.columns).sort_values(ascending= False)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
pd.set_option('display.max_rows',50)
pd.set_option('display.max_columns',50)

In [ ]:
pd.set_option('display.float_format',lambda x: '%.3f' %x)
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df

In [ ]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df.style.format("{:.2%}")#> random#> 0 .689723#> 1 .957224#> 2 .159157#> 3 .21082

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.loc[0::20,['Manufacturer', 'Model' , 'Type']]

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])
df[['Manufacturer','Model','Type']]= df[['Manufacturer','Model','Type']].fillna('missing')
df.set_index(df.Manufacturer + '_' + df.Model + '_' + df.Type)

In [66]:
np.random.seed(4)
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
n=5
df.loc[df['a'] == df['a'].sort_values(ascending = False).unique()[n-1]]

   a   b   c
4  8  14  24

In [ ]:
np.random.seed(4)
ser = pd.Series(np.random.randint(1, 100, 15))
n=2
ser[ser > ser.mean()].sort_values().drop_duplicates().iloc[n-1:n]

In [ ]:
np.random.seed(4)
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
n=2
df[df.sum(axis=1) >100].iloc[-2:]

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))
ser[ser > ser.quantile(0.95)] = ser.quantile(0.95)
ser[ser< ser.quantile(0.05)] = ser.quantile(0.05)
ser

In [47]:
import math
np.random.seed(4)
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))
arr = df[df >0].values.flatten()
arr=arr[~np.isnan(arr)]
np.take(arr,np.sort(np.argsort(arr)[::-1][0:int(math.sqrt(len(arr)))**2])).reshape(8,8)

array([[26., 35., 49., 30., 38., 35., 35., 37.],
       [16., 30., 24., 18., 32., 35., 18., 36.],
       [46., 26., 29., 46., 38., 20., 22., 25.],
       [13., 37., 30., 39., 28., 47., 42., 42.],
       [36., 35., 33., 16., 39., 31., 17., 39.],
       [34., 34., 20., 33., 48., 42., 39., 19.],
       [34., 20., 47., 33., 40., 23., 43., 39.],
       [32., 32., 44., 26., 22., 29., 15., 45.]])

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
def swaprows(data,r1,r2):
    temp = data.iloc[r1].copy()
    data.iloc[r1] = data.iloc[r2]
    data.iloc[r2] = temp
    return data
swaprows(df,3,4)

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df.iloc[pd.Series(np.arange(0,df.shape[0])).sort_values(ascending= False).values]
df.iloc[::-1]

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
pd.get_dummies(df[['a','b','c','d','e']],columns = ['a'])

In [ ]:
np.random.seed(4)
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))
df.idxmax(axis = 1).value_counts().idxmax()

In [19]:
np.random.seed(4)
from sklearn.metrics.pairwise import euclidean_distances
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
arr_dist=[]
arr_row = []
for i in range(0,df.shape[0]):
    arr_dist.append(euclidean_distances(df.iloc[i:i+1], df)[0].max())
    arr_row.append(euclidean_distances(df.iloc[i:i+1], df)[0].argmax())

df['arr_row']= pd.Series(arr_row).map({0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g',7:'h',8:'i',9:'j'}).to_numpy()
df['arrow_dist'] = arr_dist
df

    p   q   r   s arr_row  arrow_dist
a  47  56  70   2       f   93.407708
b  88  73  51  10       h  102.932016
c  59  95  56  56       h   91.307174
d  58  37  51  45       e   69.007246
e  39  53   4   1       h   92.043468
f  56  22  22  74       a   93.407708
g  39  57  67  47       e   78.108898
h  31   9  50  67       b  102.932016
i  59  88  33  41       h   89.386800
j  43  46  34  33       c   60.580525

In [20]:
np.random.seed(4)
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
df =abs(df.corr())
[np.sort(df[i])[-2] for i in list(df.columns)]

[0.6009831481423179,
 0.7442765927643111,
 0.6339102890085955,
 0.35736305056393686,
 0.8017540159884329,
 0.5460049928605586,
 0.7442765927643111,
 0.8017540159884329,
 0.8463103226051844,
 0.8463103226051844]

In [ ]:
np.random.seed(4)
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df['new'] = df.min(axis=1)/df.max(axis =1)
df

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df['new'] = df.apply(lambda x: np.sort(x)[-2],axis= 1)
df

In [ ]:
np.random.seed(4)
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df = (df-df.mean())/df.std()
(df.max()-df)/(df.max()-df.min())

In [ ]:
np.random.seed(4)
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
[df.iloc[i].corr(df.iloc[i+1]) for i in range(0,df.shape[0]-1)]

In [970]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
for i in range(0,df.shape[0]):
    for j in range(0,df.shape[0]):
        if i == j :
            df.iloc[i:i+1,j:j+1] = 0
            df.iloc[i:i+1,df.shape[0]-i-1] =0

In [982]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])
df_grouped.get_group('apple')

    col1     col2  col3
0  apple 0.858719     2
3  apple 0.810179    14
6  apple 0.861323     6

In [998]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
df.groupby(['fruit']).get_group('apple').sort_values(by='rating').iloc[-2]

fruit       apple
rating   0.792504
price           2
Name: 0, dtype: object

In [1009]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
 'rating': np.random.rand(9),
 'price': np.random.randint(0, 15, 9)})
df.groupby('fruit').mean()['rating']

fruit
apple    0.406684
banana   0.440291
orange   0.532760
Name: rating, dtype: float64

In [1016]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

df =df1.merge(df2,how = 'inner',left_on = ['fruit','weight'],right_on = ['pazham','kilo'])

In [1019]:
df.loc[df.fruit == df.pazham]

    fruit weight  price_x  pazham  kilo  price_y
0   apple   high       13   apple  high        6
1   apple   high        3   apple  high        6
2   apple   high        7   apple  high        6
3  orange    low       14  orange   low        5
4  orange    low       12  orange   low        5
5  orange    low        8  orange   low        5

In [1024]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))
df['lag'] = df['a'].shift(1)
df['lead'] = df['b'].shift(-1)
df

    a   b   c   d       lag      lead
0  14  37  52  27       nan 75.000000
1  24  75  93  17 14.000000 27.000000
2  24  27   3  11 24.000000 16.000000
3   1  16  13  34 24.000000 67.000000
4  88  67  64  76  1.000000       nan

In [1039]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
pd.value_counts(df.values.flatten())

2    4
4    3
1    3
9    2
8    2
6    2
5    2
7    1
3    1
dtype: int64

In [1057]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])
df_out = df.row.str.split(',|\t', expand=True)
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

In [5]:
s = pd.date_range('2019-01-01', '2019-12-31', freq='D').to_series()
s.dt.dayofweek

2019-01-01    1
2019-01-02    2
2019-01-03    3
2019-01-04    4
2019-01-05    5
             ..
2019-12-27    4
2019-12-28    5
2019-12-29    6
2019-12-30    0
2019-12-31    1
Freq: D, Length: 365, dtype: int64

In [23]:
height =pd.Series([23,42,55] ) 
weight =pd.Series([71,32,48]) 
pd.DataFrame({'height':height,'weight':weight})

   height  weight
0      23      71
1      42      32
2      55      48